<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="meghaconnect-api"/>
    <springProperty scope="context" name="LOG_FILE" source="logging.file.name" defaultValue="logs/meghaconnect-api.log"/>
    <springProperty scope="context" name="LOG_MAX_FILE_SIZE" source="logging.logback.rollingpolicy.max-file-size" defaultValue="25MB"/>
    <springProperty scope="context" name="LOG_MAX_HISTORY" source="logging.logback.rollingpolicy.max-history" defaultValue="30"/>
    <springProperty scope="context" name="LOG_TOTAL_SIZE_CAP" source="logging.logback.rollingpolicy.total-size-cap" defaultValue="2GB"/>
    <springProperty scope="context" name="APP_LOG_LEVEL" source="logging.level.com.survisha.meghaconnect" defaultValue="INFO"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>Asia/Kolkata</timeZone>
                    <fieldName>timestamp</fieldName>
                </timestamp>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <loggerName>
                    <fieldName>logger</fieldName>
                    <shortenedLoggerNameLength>48</shortenedLoggerNameLength>
                </loggerName>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <mdc/>
                <message/>
                <arguments/>
                <stackTrace>
                    <fieldName>exception</fieldName>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>40</maxDepthPerThrowable>
                        <maxLength>12000</maxLength>
                        <shortenedClassNameLength>48</shortenedClassNameLength>
                    </throwableConverter>
                </stackTrace>
                <globalCustomFields>{"application":"${APP_NAME}"}</globalCustomFields>
            </providers>
        </encoder>
    </appender>

    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>${LOG_MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${LOG_MAX_HISTORY}</maxHistory>
            <totalSizeCap>${LOG_TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>Asia/Kolkata</timeZone>
                    <fieldName>timestamp</fieldName>
                </timestamp>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <loggerName>
                    <fieldName>logger</fieldName>
                    <shortenedLoggerNameLength>48</shortenedLoggerNameLength>
                </loggerName>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <mdc/>
                <message/>
                <arguments/>
                <stackTrace>
                    <fieldName>exception</fieldName>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>40</maxDepthPerThrowable>
                        <maxLength>12000</maxLength>
                        <shortenedClassNameLength>48</shortenedClassNameLength>
                    </throwableConverter>
                </stackTrace>
                <globalCustomFields>{"application":"${APP_NAME}"}</globalCustomFields>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
        <appender-ref ref="JSON_FILE"/>
    </root>

    <logger name="com.survisha.meghaconnect" level="${APP_LOG_LEVEL}"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate.SQL" level="OFF"/>
    <logger name="org.hibernate.type.descriptor.sql" level="OFF"/>
    <logger name="org.hibernate.orm.jdbc.bind" level="OFF"/>
</configuration>
